@greyColor: #5A5A5A;

.artical{
  margin: 5px;
  border-bottom: 1px dashed #d9d9d9;
  width: 100%;
  float: right;
  padding-bottom: 1.25em;
}
.artical-title{
  color: #555555;
  text-align: left;
  text-decoration: none;
}
.author .photo{
  border: 0.125em solid white;
  border-radius: 50%;
  box-sizing: border-box;
}
.artical-left{
  float: left;
  margin-left: 1em;
  height: 100%;
}
.artical-right{
  margin-left: 5em;
}
.artical-photo{
  width: 3.45em;
  height: 3.45em;
  margin-top: 1.75em;
}
.artical-abstract{
  //color: @greyColor;
  font-size: 0.875em;
}
.artical-footer{
  margin-top: 0.625em;
  color: @greyColor;
  font-size: 0.75em;
}
