body {
  font-family: "Helvetica Neue", Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
}
.fixed{
  position:fixed;
}
.col1{
  //50px
  width:3.25em;
  background-color:#188EBD;
}
.col2{
  width:16.8125em;
  background-color:#F5F6F6;
}
.col3{
  margin-left:20.0625em;
  padding:0 0 0 1.25em;
  //background-color: black;
}
.left{
  float:left;
}
.clear{
  clear:both;
}
.clientHeight{
  height:1000px;
}
.heightInherit{
  height:inherit;
}
.width100{
  width:100%;
}
.time2{
  font-size:2em;
}
.menuIcon{
  padding:0.3em;
  color:#FFFFFF;

}
.menuIconActive{
  background-color:#FF8A21;
}
.menuIcon:hover{
  background-color:#FF8A21;
  cursor:pointer;
}
.content{
  padding: 0 0 0 2.64em;
}
.bottomHr{
  margin:0;
  border:none;
  border-top:0.1em solid #C0C0C0;
}
.bottom{
  font-size:0.75em;
  padding:2em 0 1.3em 0;
  text-align:center;
  width:100%;
  // background-color: red;
}




@media (max-width: 800px) {
  .col2 {
    display: none;

  }
  .col3{
    margin-left:3.25em;
  }
}
